.project-item {
    padding: 32px 64px;
    display: flex;
    flex-flow: row nowrap;
}

.project-item-icon {
    padding: 0 48px 0 16px;
}

.project-item-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.project-item-tech-stack {
    padding-right: 16px;
    padding-bottom: 24px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.project-item-tech-stack-item {
    margin-right: 8px;
    margin-bottom: 8px;
}

.project-images-title-container {
    width: calc(100% - 100px);
}

.project-images-container {
    margin-top: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
}

.project-images-gridlist {
    width: 350px;
    height: 400px;
}

.project-image {
    width: 320px;
    height: 400px;
}

@media screen and (max-width: 960px) {
    .project-item {
        padding: 32px 0px;
    }

    .project-item-icon {
        padding-left: 0px;
    }
}

@media screen and (max-width: 700px) {
    .project-item {
        display: flex;
        flex-flow: column nowrap;
        text-align: left;
    }

    .project-images-title-container {
        width: calc(100% - 16px);
        text-align: left;
    }

    .project-item-icon {
        padding: 0 0 8px 0;
    }

    .project-item-link {
        justify-content: flex-start;
    }

    .project-images-gridlist {
        width: 220px;
        height: 250px;
    }

    .dashboard-image {
        width: 250px;
        height: 200px;
    }

    .project-item-tech-stack {
        justify-content: left;
    }
}