.projects-container {
    width: 100%;
    padding: 0 60px;
}

.project-item {
    padding: 32px 64px;
    display: flex;
    flex-flow: row nowrap;
}

.project-item-icon {
    padding: 0 48px 0 16px;
}

.project-item-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.project-item-tech-stack {
    padding-right: 16px;
    padding-bottom: 24px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.project-item-tech-stack-item {
    margin-right: 8px;
}

.project-images-container {
    margin-top: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
}