.headerBar {
    padding: 16px 0;
    background: transparent;
}

.headerBar .header-container {
    display: flex;
    flex-flow: row nowrap; 
    align-items: center;
    justify-content: space-between;
}

.header-container-items {
    display: flex;
    flex-flow: row column;
    list-style: none;
}

.header-container-items a {
    padding: 8px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.header-container-items a:hover {
    color: #9c27b0;
    font-weight: 600;
}

.header-container-items a.active {
    color: #9c27b0;
    font-weight: 600;
    border-bottom: 3px solid #9c27b0;
}


.header-container-item {
    padding: 0 32px;
    font-size: 16px;
    color: black;
}
