.headerBar {
    padding: 16px 0;
    background: transparent;
}

.headerBar .header-container {
    display: flex;
    flex-flow: row nowrap; 
    align-items: center;
    justify-content: space-between;
}

.header-container-items {
    display: flex;
    flex-flow: row column;
    list-style: none;
}

.header-container-items a {
    text-decoration: none;
    color: black;
}

.header-container-item {
    padding: 0 32px;
    font-size: 16px;
    color: black;
}