


.pic-card-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.pic-item {
    padding-top: 64px;
    width: 450px;
    height: 800px;
}

.about-me-main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.about-me-title {
    padding: 32px;
    padding-top: 64px;
    align-self: flex-start;
}

.about-me-intro {
    padding: 32px;
}

.about-me-info {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 16px;
}

@media screen and (max-height: 800px) {
    .pic-item {
        width: 350px;
        height: 600px;
    }
}

@media screen and (max-height: 600px) {
    .pic-item {
        width: 280px;
        height: 500px;
    }
}