.contact-content {
  margin: 32px 128px 96px;
}

.contact-end {
  padding: 64px;
  background-color: #f1d5f6;
}

.contact-end-container {
  display: flex;
  flex-flow: row nowrap;
}

.contact-link-container {
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
}

.contact-link-info {
  padding-left: 16px;
}

.contact-link-info:hover {
  color: #9c27b0;
}

.contact-button {
  margin-left: 64px;
  width: 200px;
  font-weight: 600;
}

@media screen and (max-width: 960px) {
  .contact-content {
    margin: 64px 32px;
  }
}

@media screen and (max-width: 720px) {
  .contact-end {
    padding: 0 8px;
    padding-bottom: 16px;
  }

  .contact-link-subcontainer {
    padding-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .contact-end-container {
    padding: 32px 16px 16px;
  }

  .contact-container {
    padding-top: 112px;
  }

  .contact-end {
    height: 220px;
  }

  .contact-link-info {
    padding-left: 0px;
  }

  .contact-content {
    margin: 32px 0;
  }

  .contact-content-text {
    text-align: left;
  }
}

@media screen and (max-width: 400px) {
  .contact-title {
    text-align: center;
    padding-top: 0px;
  }
}

.contact-content-extra-small {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding-top: 16px;
}
